<nav class="navbar navbar-expand-lg navbar-light double-boarder" style="background-color: rgb(201, 255, 255)">
  <a class="navbar-brand" href="#">PassKit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Hello {{currentUser.username}}</a>
      </li>

    </ul>
    <form>
      <div>
        <button class="btn btn-outline-dark" type="submit" (click)="logout()">Logout</button>
      </div>
    </form>
  </div>
</nav>

<div class="contact-grid">
  <table class="table">
    <thead>
      <tr class=" double-boarder" style="background-color:rgb(201, 255, 255)">
        <th scope="col">Website</th>
        <th scope="col">URL</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-secondary" *ngFor="let contact of contacts; let i = index">
        <th *ngIf="!contact.editing" scope="row">{{contact.id}}</th>
        <td *ngIf="!contact.editing">{{contact.firstName}}</td>
        <td *ngIf="!contact.editing">{{contact.lastName}}</td>
        <td *ngIf="!contact.editing">{{contact.email}}</td>
        <td *ngIf="!contact.editing">{{contact.phone}}</td>
        <td *ngIf="!contact.editing">
          <button type="button" class="btn btn-danger contact-button" (click)="deleteContact(i)">X</button>
        </td>



        <th *ngIf="contact.editing" scope="row">
          <input [(ngModel)]="contact.id" type="text" class="form-control" placeholder="Website" aria-label="ID"
            aria-describedby="basic-addon1">
        </th>
        <td *ngIf="contact.editing">
          <input [(ngModel)]="contact.firstName" type="text" class="form-control" placeholder="URL"
            aria-label="FirstName" aria-describedby="basic-addon1">
        </td>
        <td *ngIf="contact.editing">
          <input [(ngModel)]="contact.lastName" type="text" class="form-control" placeholder="Username"
            aria-label="LastName" aria-describedby="basic-addon1">
        </td>
        <td *ngIf="contact.editing">
          <input [(ngModel)]="contact.email" type="text" class="form-control" placeholder="Password" aria-label="Email"
            aria-describedby="basic-addon1">
        </td>
        <td *ngIf="contact.editing">
          <input [(ngModel)]="contact.phone" type="text" class="form-control" placeholder="Phone" aria-label="Phone"
            aria-describedby="basic-addon1">
        </td>
        <td *ngIf="contact.editing">
          <div>
            <button type="button" class="btn btn-success contact-button" (click)="saveContact(contact)">Save</button>
            <button type="button" class="btn btn-danger contact-button" (click)="deleteContact(i)">X</button>
          </div>
        </td>

      </tr>
    </tbody>
  </table>

  <nav class="navbar navbar-light button-container">
    <div></div>
    <ul class="nav justify-content-center double-boarder" style="background-color: rgb(201, 255, 255)">
      <li class="nav-item">
        <button type="button" class="btn btn-outline-dark contact-button" (click)="loadContacts()">Load
          Contact</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-dark contact-button"
          (click)="saveItemsToLocalStorage(contacts)">Save
          All</button>

      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-dark contact-button" (click)="addContact()">Add Contact</button>

      </li>
    </ul>
  </nav>
  <div></div>
</div>