.nav-action-container {
    margin: 5px auto;
    width: 90%;
    grid-template-columns: 1fr .5fr 1fr;
    
}
.main-nav {
    padding: 10px 5%;
}
.contact-button{
    margin-right: 9px;
}
.contact-grid {
    display: grid;
    margin: 20px auto;
    width: 90%;
    height: 80%;
    max-height: 80vh;
    
    
    
}
.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.toast-container {
    width: 500px;
    position: fixed;
    right: 20px; 
    top: 20px;
}