/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;

}
.box-shadow {
    display: block;
    -webkit-box-shadow: 64px 83px 62px 16px rgba(0,0,0,0.73);
 -moz-box-shadow: 64px 83px 62px 16px rgba(0,0,0,0.73);
 box-shadow: 64px 83px 62px 16px rgba(0,0,0,0.73);
}
.box-boarder {
    border-radius: 91px 73px 73px 73px;
    -moz-border-radius: 91px 73px 73px 73px;
    -webkit-border-radius: 91px 73px 73px 73px;
    border: 2px solid #000000;
}
.double-boarder {
    border-radius: 73px 73px 73px 73px;
 -moz-border-radius: 73px 73px 73px 73px;
 -webkit-border-radius: 73px 73px 73px 73px;
 border: 4px double #000000;
}